/_ReSharper.MyMailoutDotNet3/
.DS_Store
bin/
obj/
min/
*.TMP
*.Resharper
*.user
*.suo
*~
NDependOut/
TestResult.xml
*.VisualState.xml
CodeCoverage/
*.orig
*.msi
*.exe
!Migrate.exe
!dotless.Compiler.exe
!phantomjs.exe
*.vdproj
*~HEAD
._*
.sonar
sonar-project.properties
.listen_test
